<% @image = google_image(@park["fullName"]) %>
<div style="position: relative;">
  <% if @image.nil? %>
  <%= image_tag 'yosemite.jpg', alt: "yosemite", class: "crop"%>
  <% else %>
    <%= image_tag @image, alt: @park["fullName"], class: "crop"%>
  <% end %>
  <div class="text-block">
    <h5><%=@park["fullName"]%></h5>

    <p style="font-size: 16px;"><%=@park["states"]%></p>

  </div>
</div>
</br>



<div class="row">
  <div class="col s7">
    <%= render :partial => "alerts" %></br>
    <%= render :partial => "events" %>
    
  </div>

  <div class="col s5">
    <%= render :partial => "news_releases" %></br>
    <%= render :partial => "articles" %>
  </div>
</div>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}
</script>
