<div class="row">
  <div style="position: relative;">
  
    <%= image_tag 'yosemite.jpg', alt: "yosemite", class: "full-width"%>
  </div>
  <div class="text-block-state">

    <p style="font-size: 16px;">Filter by state</p>
    <p><%= form_with url: state_search_path, method: :get, class: "form-inline" do %>

      <%= select_tag "state", options_for_select(@states_list), prompt: "Select a state"%>
    
    <% end %></p>
  
    <p style="line-height: 0px">&nbsp</p>
  </div>
  <div class="text-block-park">

    <p style="font-size: 16px;">Filter by park</p>

    <p><%= render :partial => "parks_dropdown" %></p>
    <p style="line-height: 0px">&nbsp</p>

  </div>
  <div class="text-block-designation">

    <p style="font-size: 16px;">Filter by designation</p>
    <p><%= form_with url: desig_search_path, method: :get, class: "form-inline" do %>

      <%= select_tag "desig", options_for_select(@desig_list), prompt: "Select a designation" %>
    
    <% end %></p>
    <p style="line-height: 0px">&nbsp</p>

  </div>
</div>

<script>
  $('#state').change(function(){
    var state = $('#state').val();

    if (state != "") {
      this.form.submit();
    }
    return false;
    
  });
  $('#desig').change(function(){
    var desig = $('#desig').val();

    if (desig != "") {
      this.form.submit();
    }
    return false;
    
  });
  $('#park_code').change(function(){
    var park = $('#park_code').val();
    console.log(park)

    if (park != "") {
      this.form.submit();
    }
    return false;
    
  });
</script>