</br>
<p style="font-size: 20px">Search result for term <em>'<%= @query %>'</em> resulted in <%= pluralize(@total_hits, 'result') %></p>
<p class="supertiny">&nbsp;</p>

<% unless @parks["total"] == '0' %>
  <strong class="search-output-category">PARKS</strong>
  <%= "(#{@parks["total"]} results)" %>
  </br></br>
  <% for park in @parks["data"] do %>
    <div class="row">
      <div class="card col s8">
        <div class="card-content">
          <% @park_code = park["parkCode"] %>
          
          <h5><%= link_to park["fullName"], parks_path(park_code: @park_code), class: "search-output-link"%></h5>
          
          <div id="search-output-states"><%= park["states"] %></div></br>
          <%= park["description"]%>        
        </div>
      </div>
    </div>
  <% end %>

  <p class="smtext">&nbsp;</p>
<% end %>


