</br>
<div class="row">
<p style="font-size: 20px">Search result for term <em>'<%= @query %>'</em> resulted in <%= pluralize(@total_hits, 'result') %></p>
</div>

<% unless @parks["total"] == '0' %>
<div class="row">
  <strong class="label-green">PARKS</strong>
  <%= "(#{@parks["total"]} results)" %>
</div>
  <% for park in @parks["data"] do %>
    <div class="row">
      <div class="card col s8">
        <div class="card-content">
          <% @park_code = park["parkCode"] %>
          
          <h5><%= link_to park["fullName"], parks_path(park_code: @park_code), class: "search-output-link"%></h5>
          
          <div id="search-output-states"><%= park["states"] %></div>
          <%= park["description"]%>        
        </div>
      </div>
    </div>
  <% end %>

<% end %>

<% unless @alerts["total"] == '0' %>
<div class="row">
  <strong class="label-green">ALERTS</strong>
  <%= "(#{@alerts["total"]} results)" %>
</div>
  <% for alert in @alerts["data"] do %>
    <div class="row">
      <div class="card col s8">
        <div class="card-content">
          <b><%= alert["category"] %></b></br>
          
          <h5><%= link_to alert["title"], alert["url"], class: "search-output-link"%></h5>
      
          <%= alert["description"]%>        
        </div>
      </div>
    </div>
  <% end %>

<% end %>

<% unless @articles["total"] == '0' %>
<div class="row">
  <strong class="label-green">ARTICLES</strong>
  <%= "(#{@articles["total"]} results)" %>
</div>
  <% for article in @articles["data"] do %>
    <div class="row">
      <div class="card col s8">
        <div class="card-content">
          
          <h5><%= link_to article["title"], article["url"], class: "search-output-link"%></h5>
          
          <%= article["listingdescription"]%>        
        </div>
      </div>
    </div>
  <% end %>

<% end %>


