<!DOCTYPE html>
<html>
  <head>
    <title>National Park Service</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= favicon_link_tag asset_path('logo-square.ico'), :size => '10', :rel => 'icon', :type => "image/x-icon" %>

  </head>

  <body>
  <!-- Partials for the topbar and navigation -->


  <%= render :partial => "partials/topbar" %>


  <div class="container">
    

        <!-- MAIN CONTENT OF TEMPLATE GOES HERE -->
        <div class="container" style="width: 85%">
          <%= yield %>
        </div>

  </div>
  
  <%= render :partial => "partials/footer" %>    
  </body>
</html>
